/* Setting universal rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* stting the font family */
body{
    width: 80%;
    margin: auto;
}
/* .container{
    border: green solid 3px;
} */

/* clearfix La soluzione più moderna e sicura pseudoelemento ::after*/
.container::after{
    content:"";
    display: table;
    clear: both;
    
}
/* h1 stiling */
h1{
    font-family: 'Fredoka', sans-serif;
    color: rgb(216, 98, 118);
    text-align: center;
    padding: 10px;
}
/* p styling */
p {
    text-align: center;
    padding: 10px;
}
/* cards */
.card{
    background-color: black;
    color: white;
    width: calc(100% / 3);
    max-height: 300px;
    float: left;
    border: white 5px solid

    /* border: 1px red solid; */
    
}
/* a email */
a{
    color: lightskyblue;
    text-decoration: none;
}
img{
    width: 100px;
    float: left;
    padding-right: 10px;
}
h3{
    font-family: 'Fredoka', sans-serif;
    padding-bottom: 5px;
    font-size: 1rem;
    padding-top: 5px;
}
h5, a{
    padding-bottom: 5px;
    font-size: 0.7rem;
    font-weight: 100;
}
